GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=your-gcp-project-location
GOOGLE_GENAI_USE_VERTEXAI=1

MODEL_ID=gemini-model-id
DATASTORE_ID=vertex-ai-search-datastore-id

GUARDRAILS_API_KEY=your-guardrails-api-key

PII_DATA_TYPES=["EMAIL_ADDRESS","PHONE_NUMBER","FIRST_NAME","LAST_NAME","PASSPORT","AUSTRALIA_TAX_FILE_NUMBER","AUSTRALIA_MEDICARE_NUMBER","AUSTRALIA_DRIVERS_LICENSE_NUMBER"]

REDIS_HOST=127.0.0.1:6379

QUEUE_TOPIC=adk_chat_messages

PUBSUB_EMULATOR_HOST=127.0.0.1:8406

ALLOWED_ORIGINS=*